header{
    
    height: 10%;
    width: 99%;
    padding: 10px;
    background-color: rgb(157, 93, 218);
    border: 3px rgb(157, 93, 218);
    display: flex;
    justify-content: space-between;
    margin: auto;
    

}

html{
width: 100%;
height: 100%;
}  



    
main{
    height: 90%;
    width: 80%;
    border: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 110px;
    padding: 4px;
    flex-wrap: wrap;
    margin: 50px auto;
}

.nuestramarca{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}



footer{
    display: flex;
    justify-content: center;
    align-content: end;
}



li{
    text-decoration: none;
    list-style: none;
}



.nuestramarca{
    width: 300px;
 
}



.logo{
    text-decoration: wavy;
    font-size: 30px;
    font-style: oblique;
   
}



@media (width <= 400px){
    header{
        flex-direction: row;
        width: 100%;
    }

    .divtitulo{
        width: 100%;
        height: 20px;
    }

    html{
        width: auto;
        height: 100%;
    }

    .logo{
        font-size: 20px;
        left: 5px;
    }

    .divtitulo{
        font-size: 10px;
    }

 
}

@media (width <= 550px ){
    .logo{
        font-size: 19px;
    }


    .header{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .divtitulo{
      
        
        align-self: start;
        font-size: 13px;
    }

    main{
        display: flex;
         
        
    }

    .parrafo{
        font-size: 15px;
    }
}

@media (width < 1024px){
    main{
        display: flex;
    }


    }


